h1{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.8;
    position: relative;
    font-size: 80px;
    background: linear-gradient(90deg, #ff0000, #ffb700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h2{
     margin-top: -40px;
    margin-bottom: 10px;
    line-height: 0.8;
    position: relative;
    font-size: 48px;
}

.homepage-title{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 40%;
    left: 10%;
  
}

.homepage-nav{
text-decoration: none;
cursor: pointer;
margin-top: 20px;
display: flex;
justify-content: center;
font-family: Koulen;
font-size: 32px;
color:white;
 width: 100%;
position: relative;
background-color: #000;
border: 1px solid #fff;
box-sizing: border-box;
height: 56px;
transition: all 0.3s ease;
}

.homepage-nav:hover {
  background: linear-gradient(90deg, #ff0000, #FFB700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  border-color: #ffb700;
  transition: all 0.3s ease;
   border-image: linear-gradient(90deg, #ff0000, #FFB700);
  border-image-slice: 1;
  box-shadow: 0 0 10px rgba(255, 183, 0, 0.5);
}

.homepage-event{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-left:45%;
}



@media (max-width: 768px) {
 
    .homepage-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20%;
    right:15%;
}
h1{
        font-size: 64px;
        margin-top: 0;
    }
h2{
        font-size:40px;
        margin-top: -40px;
    }

    .buttons{

        margin-top: 200%;
    }

    .homepage-nav{
        z-index: 1;
        right:10%;
        width: 125%;
        height: 100%;
    }

    .homepage-event{
        margin-left:35%;
    }
}