.model-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

}

.model-container-design {
   
    width: 85%;
    height: 50vh;
   box-sizing: border-box;

  border: 5px solid transparent; 
  border-image: linear-gradient(90deg, #ff0000, #FFB700); 
  border-image-slice: 1;

  background: linear-gradient(90deg, rgba(217, 217, 217, 0.1), rgba(115, 115, 115, 0.15));
  backdrop-filter: blur(20px);
  border-radius: 10px;
}


  @media (max-width: 768px) {
    
    .model-container-home{
    
      left: 28.5%;
      top: 35%;
      height: 50vh;
      width: 70vw;
      
    }

    .model-container-design {
     
      height: 30vh;
      
    }

    .ARmodel{
      position:absolute;
      top:110%;
      right:16%;
      width: 90%;
    }
  
   
   
  }