

body {

font-family: Koulen;
color: white;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 
  z-index: -1;
  object-fit: cover;
  opacity: 1; 
  pointer-events: none; 
}



@media (max-width: 768px) {
 #bg-video {

    height: 300vw;
  }

  p{
   margin-left: 20px;
   font-size: 25px;
  }

  input{
    
    width: 80vw;
    height: 50px;
    font-size: 20px;
  }
}

