body{
    background-color: #1e1e1e;
    font-family: Koulen;
    color: white;
    
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6; 
  pointer-events: none; 
}

@media (max-width: 768px) {
  #bg-video {

    object-position: center center; 
  }

  p{
   margin-left: 20px;
   font-size: 30px;
  }

  input{
    width: 90%;
   
    height: 45px;
    font-size: 24px;
  }
}

